<mat-card class="cardWithShadow theme-card">
    <mat-card-header class="search-and-title">
      <mat-card-title class="m-b-0">Liste des Tâches</mat-card-title>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="addTache()">Ajouter une Tâche</button>
      </div>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div *ngIf="loading" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="!loading && !errorMessage && dataSource.data.length > 0" class="responsive-table">
        <table mat-table [dataSource]="dataSource" class="w-100" matSort>
  
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let tache">{{ tache.nom }}</td>
          </ng-container>
  
          <ng-container matColumnDef="dateDebut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de Début</th>
            <td mat-cell *matCellDef="let tache">{{ tache.dateDebut | date: 'yyyy-MM-dd' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="dateFin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de Fin</th>
            <td mat-cell *matCellDef="let tache">{{ tache.dateFin | date: 'yyyy-MM-dd' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="statut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
            <td mat-cell *matCellDef="let tache">{{ formatStatut(tache.statut) }}</td>
          </ng-container>
  
          <ng-container matColumnDef="sprint">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sprint</th>
            <td mat-cell *matCellDef="let tache">{{ tache.sprint?.nom || 'Aucun' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let tache">
              <button mat-icon-button color="primary" (click)="viewTacheDetails(tache.idTache)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="editTache(tache.idTache)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteTache(tache.idTache)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="!loading && !errorMessage && dataSource.data.length === 0">
        Aucune tâche disponible.
      </div>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        [length]="dataSource?.data?.length"
        [pageSize]="5"
        [pageIndex]="0"
      ></mat-paginator>
  
    </mat-card-content>
  </mat-card>