<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">ESPRIT PROJECT</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <!-- Support -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://support.wrappixel.com/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                Support
            </div>
        </a>

        <!-- Templates -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://www.wrappixel.com/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                Templates
            </div>
        </a>

        <!-- Hire Us -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://www.wrappixel.com/hire-us/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                Hire Us
            </div>
        </a>


    </div>
</div>