<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{ editMode ? 'Modifier le Sprint' : 'Ajouter un Sprint' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Nom du Sprint</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="nom" required>
            <mat-error *ngIf="sprintForm.get('nom')?.hasError('required')">Le nom du sprint est requis.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Projet</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="projetId" required>
              <mat-option *ngFor="let projet of projets" [value]="projet.idProjet">{{ projet.nom }}</mat-option>
              <mat-error *ngIf="sprintForm.get('projetId')?.hasError('required')">Le projet est requis.</mat-error>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Date de Début</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="debutPicker" formControlName="dateDebut" required>
            <mat-datepicker-toggle matSuffix [for]="debutPicker"></mat-datepicker-toggle>
            <mat-datepicker #debutPicker></mat-datepicker>
            <mat-error *ngIf="sprintForm.get('dateDebut')?.hasError('required')">La date de début est requise.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Date de Fin</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="finPicker" formControlName="dateFin" required>
            <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
            <mat-datepicker #finPicker></mat-datepicker>
            <mat-error *ngIf="sprintForm.get('dateFin')?.hasError('required')">La date de fin est requise.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Statut</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="statut" required>
              <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.viewValue }}</mat-option>
              <mat-error *ngIf="sprintForm.get('statut')?.hasError('required')">Le statut est requis.</mat-error>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Description (optionnelle)</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" type="submit">{{ editMode ? 'Enregistrer' : 'Ajouter' }}</button>
        <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>