<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      <h2 style="color:navy;"> <i class="fas fa-plus-circle"></i> Ajouter un Participant</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <form [formGroup]="participantForm" (ngSubmit)="onSubmit()"
      class="p-4 max-w-md mx-auto bg-white rounded-2xl shadow-md space-y-4">



      <div>
        <label for="nom"> Nom:</label> &nbsp;
        <input id="nom" type="text" formControlName="nom" placeholder="Nom du participant" />
        <div *ngIf="participantForm.get('nom')?.invalid && participantForm.get('nom')?.touched"
          style="color: red;font-size: 12px;">
          Le nom est requis.
        </div>
      </div>
      <br>

      <div>
        <label for="email"> Email:</label> &nbsp;
        <input id="email" type="email" formControlName="email" placeholder="Email" />
        <div *ngIf="participantForm.get('email')?.invalid && participantForm.get('email')?.touched"
          style="color: red;font-size: 12px;">
          Email invalide ou requis.
        </div>
      </div>
      <br>

      <div>
        <label for="user"> Utilisateur:</label> &nbsp;
        <select id="user" formControlName="userId">
          <option *ngFor="let user of users" [value]="user.id">{{ user.nom }}</option>
        </select>
      </div>
      <br>

      <div class="mb-3 text-end">
        <button mat-flat-button color="primary" class="m-r-8" [disabled]="participantForm.invalid">
          <i class="fas fa-save me-2"></i>&nbsp; Sauvegarder

        </button>
      </div>

    </form>

  </mat-card-content></mat-card>