<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      <h2 style="color:navy;"> <i class="fas fa-plus-circle"></i> Ajouter un Participant</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <form [formGroup]="participantForm" (ngSubmit)="onSubmit()"
      class="p-4 max-w-md mx-auto bg-white rounded-2xl shadow-md space-y-4">


      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Nom</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Nom du participant" formControlName="nom" />
          <mat-error *ngIf="participantForm.get('nom')?.invalid && participantForm.get('nom')?.touched">
            Le nom est requis.
          </mat-error>
        </mat-form-field>
      </div>

      <br>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="email" placeholder="Email" formControlName="email" />
          <mat-error *ngIf="participantForm.get('email')?.invalid && participantForm.get('email')?.touched">
            Email invalide ou requis.
          </mat-error>
        </mat-form-field>
      </div>

      <br>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Utilisateur</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="userId" placeholder="Sélectionnez un utilisateur">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <br>

      <div class="mb-3 text-end">
        <button mat-flat-button color="primary" class="m-r-8" [disabled]="participantForm.invalid">
          <i class="fas fa-save me-2"></i>&nbsp; Sauvegarder

        </button>
      </div>

    </form>

  </mat-card-content></mat-card>