<h2 class="calendar-title">📅 Mon calendrier des réunions</h2>
<hr>
<div class="teams-calendar" style="margin-top: 1em;">
  <div class="calendar-header">
    <div class="hour-column"></div>
    <div class="day-column" *ngFor="let day of weekDays">
      <div class="day-label">
        <strong>{{ day.name }}</strong>
        <br />
        <small>{{ day.date }}</small>
      </div>
    </div>
  </div>

  <!-- ⬇️ Ajout du wrapper pour scroll -->
  <div class="calendar-scroll-wrapper">
    <div class="calendar-body">
      <div class="time-row" *ngFor="let hour of hours">
        <div class="hour-column">{{ hour }}</div>
        <div class="day-column" *ngFor="let day of weekDays">
          <div class="cell" *ngIf="getEvent(day.name, hour) as event">
            <div class="event" [ngClass]="{
       'past-event': event.isPast,
       'event-en-ligne': event.type === 'EN_LIGNE',
       'event-presentiel': event.type !== 'EN_LIGNE'
     }">
              <div class="event-title">
                {{ event.title }}
                <br />
                <small>
                  {{ event.start | date:'HH:mm' }} -
                  {{ event.end | date:'HH:mm' }}
                </small>
              </div>

              <button *ngIf="event.type === 'EN_LIGNE' && !event.isPast" class="join-btn" (click)="joinMeeting(event)">
                <span>📹 Rejoindre</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>