<mat-toolbar class="topbar gap-8">
  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i class="iconify icon-20 d-flex" data-icon="solar:hamburger-menu-line-duotone"></i>
  </button>
  }
  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button aria-label="Notifications" [matMenuTriggerFor]="menu" class="d-flex align-items-center justify-content-center">
    <div matBadge="2" matBadgeSize="small" matBadgeOverlap="false" class="demo-section">
      <i class="iconify icon-20 d-flex" data-icon="solar:bell-line-duotone"></i>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <span class="flex-1-auto"></span>

  <a href="https://www.wrappixel.com/templates/materialm-material-angular-dashboard-template/?ref=353" target="_blank" mat-flat-button>Check Pro Template</a>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button extended [matMenuTriggerFor]="profilemenu" aria-label="Notifications"
    class="d-flex align-items-center justify-content-center profile-btn-dd">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover icon-35 profile-dd" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i data-icon="solar:shield-user-line-duotone"
          class="iconify icon-22"></i></mat-icon>My Profile
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i data-icon="solar:user-id-line-duotone"
          class="iconify icon-22"></i></mat-icon>My Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i data-icon="solar:checklist-minimalistic-line-duotone"
          class="iconify icon-22"></i> </mat-icon>My Task
    </button>

    <div class="p-x-12 m-t-12">
      <a [routerLink]="['/authentication/login']" mat-stroked-button class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>