<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      <h2 style="color:navy;"> <i class="fas fa-plus-circle"></i> Ajouter une salle</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <form [formGroup]="salleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Nom de la salle</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Salle</mat-label>
                <input matInput type="text" placeholder="Ex : Salle Alpha" formControlName="nom" />
                <mat-error *ngIf="salleForm.get('nom')?.hasError('required')">
                  Le nom est requis.
                </mat-error>
                <mat-error *ngIf="salleForm.get('nom')?.hasError('minlength')">
                  Le nom doit contenir au moins 3 caractères.
                </mat-error>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-lg-6 mb-3">
          <mat-card class="b-1 shadow-none">
            <mat-card-header>
              <mat-card-title>Capacité</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Capacité</mat-label>
                <input matInput type="number" formControlName="capacite" min="1" />
                <mat-error *ngIf="salleForm.get('capacite')?.hasError('required')">
                  La capacité est requise.
                </mat-error>
                <mat-error *ngIf="salleForm.get('capacite')?.hasError('min')">
                  La capacité doit être supérieure à 0.
                </mat-error>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </div>



      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Disponibilité</mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-1">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <label for="disponibleSwitch" class="mb-0">Disponible</label>
            <input type="checkbox" id="disponibleSwitch" formControlName="disponible" class="form-check-input" />
          </div>

          <p class="f-w-600 p-16 bg-light-primary rounded mt-4">
            Statut: {{ salleForm.get('disponible')?.value ? 'Disponible' : 'Non disponible' }}
          </p>
        </mat-card-content>
      </mat-card>

      <br>
      <div class="mb-3 text-end">
        <button mat-flat-button color="primary" class="m-r-8" [disabled]="salleForm.invalid">
          <i class="fas fa-save me-2"></i>&nbsp; Sauvegarder
        </button>
      </div>

    </form>
  </mat-card-content></mat-card>