<div class="salles-container">
  <div class="header">
    <h2 style="color: rgb(235, 239, 249);">Salles Disponibles</h2>
    <p>Voici toutes les salles disponibles et les salles occupées pour vos réunions à venir.</p>
  </div>

  <!-- Barre de Recherche -->
  <div class="search-container">
    <input type="text" placeholder="Rechercher une salle par nom..." [(ngModel)]="searchTerm" (input)="filterSalles()"
      class="search-input" />
  </div>

  <!-- Liste des Salles -->
  <div class="all-salles">
    <div class="salles-wrapper">
      <div *ngFor="let salle of filteredSalles" class="card"
        [ngClass]="salle.disponible && (!salle.reservations || salle.reservations.length === 0) ? 'available' : 'used-salle'">
        <div class="card-header">
          <div class="card-title-with-icon">
            <h4 class="salle-nom">{{ salle.nom }}</h4>
            <div class="icon-actions">
              <span class="edit-icon" (click)="modifieSalleMeme(salle)" title="Modifier">✏️</span>
              <span class="delete-icon" (click)="supprimerSalle(salle.id)" title="Supprimer">🗑️</span>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="salle.disponible && (!salle.reservations || salle.reservations.length === 0); else reservedSalle">
          <p class="available">Salle disponible</p>
          <button class="btn btn-primary btn-md" (click)="modifieSalle(salle)">Réserver</button>
        </ng-container>

        <ng-template #reservedSalle>
          <p class="unavailable">Salle réservée</p>
          <div *ngFor="let res of salle.reservations">
            <ng-container *ngIf="res.reunion">
              <small>
                Réunion : {{ res.reunion.titre }}<br>
                Le {{ res.reunion?.date }} à {{ res.reunion?.heure }} ({{ res.reunion?.duree }} min)
              </small>
            </ng-container>
            <ng-container *ngIf="!res.reunion">
              <p>Pas de réunion associée</p>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>




  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-content">
      <div class="reunion-form-container">
        <h2 class="form-title">Modifier la réservation de la salle</h2>

        <form [formGroup]="salleForm" (ngSubmit)="updateSalle()" class="salle-form">
          <div class="col-lg-12">
            <mat-label class="f-w-600 m-b-8 d-block">Salle</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="id" (selectionChange)="onSalleChange($event)">
                <mat-option *ngFor="let salle of salles" [value]="salle.id">
                  {{ salle.nom }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-12">

            <mat-label class="f-w-600 m-b-8 d-block">Réunion Présentielle</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="reunionId" placeholder="-- Sélectionner une réunion présentielle --">
                <mat-option value="">-- Sélectionner une réunion présentielle --</mat-option>
                <mat-option *ngFor="let reunion of reunionsPresentielles" [value]="reunion.id">
                  {{ reunion.titre }} ({{ reunion.date }} à {{ reunion.heure }})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-md">Mettre à jour la salle</button>
            <button type="button" class="btn btn-secondary btn-md" (click)="fermerModal()">Annuler</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div *ngIf="isModalOpenModifSalle" class="modal-overlay">
  <div class="modal-content">
    <div class="reunion-form-container">
      <h2 class="form-title">Modifier salle</h2>

      <form [formGroup]="salleForm" (ngSubmit)="onEdit()">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Nom de la salle</mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Salle</mat-label>
                  <input matInput type="text" placeholder="Ex : Salle Alpha" formControlName="nom" />
                  <mat-error *ngIf="salleForm.get('nom')?.hasError('required')">
                    Le nom est requis.
                  </mat-error>
                  <mat-error *ngIf="salleForm.get('nom')?.hasError('minlength')">
                    Le nom doit contenir au moins 3 caractères.
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-lg-6 mb-3">
            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title>Capacité</mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Capacité</mat-label>
                  <input matInput type="number" formControlName="capacite" min="1" />
                  <mat-error *ngIf="salleForm.get('capacite')?.hasError('required')">
                    La capacité est requise.
                  </mat-error>
                  <mat-error *ngIf="salleForm.get('capacite')?.hasError('min')">
                    La capacité doit être supérieure à 0.
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>



        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Disponibilité</mat-card-title>
          </mat-card-header>

          <mat-card-content class="b-t-1">
            <div class="p-4 d-flex justify-content-between align-items-center">
              <label for="disponibleSwitch" class="mb-0">Disponible</label>
              <input type="checkbox" id="disponibleSwitch" formControlName="disponible" class="form-check-input" />
            </div>

            <p class="f-w-600 p-16 bg-light-primary rounded mt-4">
              Statut: {{ salleForm.get('disponible')?.value ? 'Disponible' : 'Non disponible' }}
            </p>
          </mat-card-content>
        </mat-card>

        <br>
        <div class="mb-3 text-end">
          <button class="btn btn-secondary btn-md" [disabled]="salleForm.invalid" (click)="onEdit()">
            <i class="fas fa-save me-2"></i>&nbsp; Sauvegarder
          </button> &nbsp;
          <button type="button" class="btn btn-secondary btn-md" (click)="fermerModalSalle()">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>