<div class="offer-list-container">
  <div class="header">
    <h1>Offer Management</h1>
    <button class="btn-primary" (click)="navigateToCreateForm()">Create New Offer</button>
  </div>
  


  
  <div class="loading-spinner" *ngIf="isLoading">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
  
  <div class="content-container" *ngIf="!isLoading">
    <h2>Available Offers</h2>
    <div class="offers-list" *ngIf="offers.length; else noOffers">
      <div class="offer-card" *ngFor="let offer of offers">
        <h3>{{ offer.title }}</h3>
        <div class="offer-meta">
          <span class="company">{{ offer.company }}</span>
          <span class="location" *ngIf="offer.location">{{ offer.location }}</span>
          <span class="type" *ngIf="offer.type">{{ offer.type }}</span>
        </div>
        <p class="truncate-text">{{ offer.description | truncate:15 }}</p>
        <div class="offer-actions">
          <button class="btn-link" (click)="viewDetails(offer)">View Details</button>
          <button class="btn-link" (click)="editOffer(offer)">Edit</button>
          <button class="btn-link warning" (click)="deleteOffer(offer)">Delete</button>
        </div>
      </div>
    </div>
    <ng-template #noOffers>
      <div class="empty-state">
        <p>No offers available. Create your first offer.</p>
      </div>
    </ng-template>
  </div>
</div>