@use "sass:meta";
@use "../variables" as *;

@mixin syntax-colors2($args2...) {
  @each $name2, $color2 in meta.keywords($args2) {
    html .border-#{$name2} {
      border: 1px solid $color2 !important;
    }
  }
}

@include syntax-colors2(
  $primary: var(--mat-sys-primary),
  $secondary: var(--mat-sys-secondary),
  $success: $success,
  $warning: $warning,
  $error: var(--mat-sys-error)
);
